@model WebApplication1.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">

    </div>
</div>

<table class="table">
    <tr>
        <td>
            Name
        </td>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { @class = "studentItem" })</td>
        </tr>
    }

</table>

<br />

<div class="btn-group">
        @WebApplication1.Helpers.PagingHelpers.PageLinks(Html, Model.pageInfo, x => Url.Action("index", new {page = x }))
    </div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $ajaxSetup({ cashe: false });
            $(".studentItem").click((function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').model('show');
                });
            }));
        });
    </script>
    }