@model IEnumerable<WebApplication1.Models.Student>


<div id="searchresults">
    <h3>Students:</h3>
    <ul>
        @foreach (var i in Model)
        {
            <li>@i.Name</li>
        }
    </ul>
</div>
