@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@{ 
    string a = "Hello IT step!";
    a = "And SDP-211";
}

<h3>a</h3>